html{
		background: #f7f7f7;
	}
	body{
		font-family: 'Barlow', sans-serif;
		background: white;
		max-width: 1000px;
		margin: 0 auto;
		color: rgb(49,46,46);

	}
		header, footer{
		background: #333a40;
		color: white;
		}
		ul{
			margin: 0;
			padding: 0;
		}
		li{
			list-style: none;
			line-height: 30px;

		}
		a{
			text-decoration: none;
			color: inherit;
		}
		a:hover{
			color: #0e69e9;
		}
		header li{
			display: inline;
		}
		header h1, nav{
			display: inline-block;
		}
		main{
			width: 680px;
			display: inline-block;
			padding: 10px;
		}
		aside{
			width: 270px;
			display: inline-block;
			vertical-align: top;
			padding: 10px;
		}
		.product{
			box-sizing: border-box;
			border: 1px solid grey;
			width: 210px;
			margin: 5px;
			padding: 5px;
			display: inline-block;

		}
		img{
			max-width: 100%;
		}
		.bottom{
			padding: 10px;
			display: inline-block;
		}
		.bottom:last-of-type{
			background: #0e69e9;
			color: white;
		}

		/*Product detail page*/
		.product-detail{
			width: 660px;
		}
		.product-detail img{
			max-width: 50%;
			float:left;
		}